<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.609420958393-auuhgud7rfogks6u0f08pjjsddo8drk0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.609420958393-auuhgud7rfogks6u0f08pjjsddo8drk0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>609420958393-auuhgud7rfogks6u0f08pjjsddo8drk0.apps.googleusercontent.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>609420958393-auuhgud7rfogks6u0f08pjjsddo8drk0.apps.googleusercontent.com</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Luca uses the microphone for listening sessions when system audio is unavailable.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Luca transcribes audio to provide real-time notes and summaries.</string>
</dict>
</plist>
